
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .eye{
        @apply w-full;
        @apply h-2/3;
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -100%;
        transition: 0.6s;
        z-index: 22;
        
    }
    .img:hover .eye{
        left: 50%;
        top: 34%;
        transform: translate(-50%,-50%);


    }
}